body{
    background-color: aquamarine;
    color: black;
    margin: 0px;
    font-family: "Great Vibes", cursive;
    margin-bottom: 100px;
}

.chamada{
    background: darkcyan;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    
}